/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   i:hover {
    cursor: pointer;
   }

   #main-wrapper {
    height: 90vh;
    display: block;
    border-bottom: 1px solid #000;
  }

  #sidebar {
    float: left;
    height: 100%;
    width: 30%;
    border-right: 1px solid #000;
    text-align: center;
  }

  #course-tile-preview .course-tile {
    margin: 0 auto;
  }

  .course-tile {
    position: relative;
    display: inline-table;
    margin: 10px 10px 10px 10px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: solid 1px #999999;
    background: linear-gradient(top, white, #EEEEEE);
    background: -webkit-linear-gradient(top, white, #EEEEEE);
    background: -moz-linear-gradient(top, white, #EEEEEE);
    background: -ms-linear-gradient(top, white, #EEEEEE);
    background: -o-linear-gradient(top, white, #EEEEEE);
    padding: 4px;
  }

  .course-tile:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #D50E0E;
    -moz-box-shadow: 0px 0px 4px 2px #D50E0E;
    -o-box-shadow: 0px 0px 4px 2px #D50E0E;
    -ms-box-shadow: 0px 0px 4px 2px #D50E0E;
    box-shadow: 0px 0px 4px 2px #D50E0E;
  }

  .course-title {
    text-align:center;
    width: 100%;
    font-size: 14px;
  }

  .course-tile-area {
    text-align: center;
    width: 100%;
  }

  .close {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .course-units-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .course-units {
    margin: 0 auto;
  }

  #planning-wrapper {
    display: inline-block;
    width: 70%;
    height: 100%;
  }

  #planning-menu-bar {
    height: 40px;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 5px 10px 0 10px;
  }

  #plan-title {
    border: 5px solid #09F;
    border-radius: 5px;
    padding: 3px;
    margin-top: 3px;
    font-size: 20px;
    min-width: 30px;
    display: inline;
  }

  .saved {
    color: green;
  }

  .not-saved {
    color: red;
  }


  #planning-area {
    margin: 1% auto 0 1%;
    height: 90%;
    overflow: auto;
  }

  .semester-plan {
    height: 400px;
    position: relative;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    overflow: auto;
  }

  .semester-plan.selected {
    -webkit-box-shadow: 0px 0px 4px 2px #D50E0E;
    -moz-box-shadow: 0px 0px 4px 2px #D50E0E;
    -o-box-shadow: 0px 0px 4px 2px #D50E0E;
    -ms-box-shadow: 0px 0px 4px 2px #D50E0E;
    box-shadow: 0px 0px 4px 2px #D50E0E;
  }

  .semester-title {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }

  .semester-1 {
    background: #fff6f3; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff6f3 0%, #ffad91 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff6f3), color-stop(100%,#ffad91)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff6f3 0%,#ffad91 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff6f3 0%,#ffad91 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff6f3 0%,#ffad91 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff6f3 0%,#ffad91 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6f3', endColorstr='#ffad91',GradientType=0 ); /* IE6-9 */
  }

  .semester-3 {
    background: #fffdf3; /* Old browsers */
    background: -moz-linear-gradient(top,  #fffdf3 0%, #ffeb91 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffdf3), color-stop(100%,#ffeb91)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fffdf3 0%,#ffeb91 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fffdf3 0%,#ffeb91 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fffdf3 0%,#ffeb91 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fffdf3 0%,#ffeb91 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf3', endColorstr='#ffeb91',GradientType=0 ); /* IE6-9 */
}

  .loading {
    float: right;
    width: 16px !important;
    height: 16px !important;
    background-repeat: none;
    margin: 2px;
    vertical-align: middle;
    background-image: url(../img/ajax-loader.gif);
  }